@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #00ffff;
    --cor-tercearia: #d5ffff;
    --cor-quartearia: #7fffd4;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--cor-primaria);
    color: var(--cor-tercearia);
    box-sizing: border-box;
    zoom: 75%;
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalhoMenu{
    display: flex;
    gap: 6%;
}
.cabecalhoMenuLink{
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
}
.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacaoConteudo {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 40px;
}
.apreContentTitulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
.destaqueTitulo {
    color: var(--cor-secundaria);
}
.apreContentTexto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}
.textoDestaque:hover{
    color: var(--cor-quartearia);
}
.links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.linksSubtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.linkReferencias {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-tercearia);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    font-weight: 600px;
    font-size: 1.5rem;
    padding: 16px 0px;
    color: var(--cor-tercearia);
}
.linkReferencias:hover{
    background-color: var(--cor-hover);
    font-size: 1.5rem;
    color: var(--cor-quartearia);
    border: 3px solid var(--cor-tercearia);
    width: 53%;
}
.eu {
    width: 50%;
    border-radius: 16px;
}
.rodape{
    background-color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 32px;
    font-weight: 400;
    color: var(--cor-primaria);
    padding: 20px;
}
@media(max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }
    .cabecalhoMenu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5% 3%;
    }
    .apresentacaoConteudo{
        width: auto;
    }
}
